<h1>Listing tinies</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Tiny</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tinies.each do |tiny| %>
  <tr>
    <td><%= tiny.url %></td>
    <td><%= tiny.tiny %></td>
    <td><%= link_to 'Show', tiny %></td>
    <td><%= link_to 'Edit', edit_tiny_path(tiny) %></td>
    <td><%= link_to 'Destroy', tiny, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tiny', new_tiny_path %>
